<%-include('header')-%>

<div class="text-center center-div" id="login">
  <div class="container w-25 border py-5">
    <div class="title pb-5">
      <h2 class="font-weight-bold">Login System</h2>
      <span>Loggin for the existing user</span>
    </div>
    <form action="#">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="email"
          name="email"
        />
        <small class="form-text text-muted text-left"
          >Register email address</small
        >
      </div>
    </form>
  </div>
</div>

<%-include('footer')-%>
