<%-include('header')-%>

<div class="text-center center-div">
  <div class="container w-25 border py-5 mt-5">
    <h3>Welcome to G4L Dashboard</h3>
    <h5><%=locals.user ? user: "User" %></h5>
    <a href="/route/Logout">Logout</a>
  </div>
</div>

<%-include('footer')-%>
